@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&family=Oswald:wght@700&display=swap');

body {
  font-family: 'Fira Sans', sans-serif;
  text-align: center;
  background-color: rgb(234, 247, 176);
  margin: 50px;
}

h1 {
  font-family: 'Oswald', 'sans-serif';
  font-size: 50px;

  color: #534b4b;
}

p {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #991a1a;
}
a:hover {
  font-weight: bold;
}

/* add padding to footer */
footer {
  padding: 2px;
  color: #534b4b;

  clear: left;
  text-align: center;
}

span {
  color: red;
  font-weight: bold;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: rgb(44, 44, 44);
  border-radius: 0 0 0 5px;
}
